@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

/** {
    scrollbar-width: thin; 
    scrollbar-color: #007BFF transparent; 
}*/

html {
    scroll-behavior: smooth;
}

#content {
    overscroll-behavior:auto;
}

::-webkit-scrollbar {
    width: 10px;
    background:transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 16px;
    border: 10px solid transparent; /* Simulating a margin with transparent border */
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:4px;
}

::-webkit-scrollbar-thumb {
    background: rgb(107 114 128);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(17 24 39);
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar-track-piece {
    display: none;
}


/* Universal Custom Scrollbar CSS */
/** {
    scrollbar-width: thin;*/ /* For Firefox */
    /*scrollbar-color: rgba(107, 114, 128, 0.5) transparent;*/ /* Adjusted for Firefox */
/*}

    *::-webkit-scrollbar {
        width: 8px;*/ /* Width of the scrollbar */
    /*}

    *::-webkit-scrollbar-track {
        background: transparent;*/ /* Transparent track */
        /*border-radius: 16px;*/ /* Rounded corners of the track */
    /*}

    *::-webkit-scrollbar-thumb {
        background-color: rgba(107, 114, 128, 0.5);*/ /* Semi-transparent grey */
        /*border-radius: 10px;*/ /* Rounded corners on the thumb */
        /*border: 5px solid transparent;*/ /* Transparent border creating padding effect */
        /*background-clip: padding-box;*/ /* Ensures the background only fills the padding-box */
    /*}*/

    /*html::-webkit-scrollbar {
        width: 8px;*/ /* Scrollbar width */
        /*height: 8px;*/ /* Horizontal scrollbar height */
    /*}

    html::-webkit-scrollbar-track {
        background: #ccc;*/ /* Track color */
        /*border-radius: 4px;*/ /* Rounded corners of the track */
    /*}

    html::-webkit-scrollbar-thumb {
        background-color: #333;*/ /* Thumb color */
        /*border-radius: 4px;*/ /* Rounded corners of the thumb */
        /*border: 2px solid #ccc;*/ /* Border around the thumb */
    /*}*/